/* ----------------------------------------------
 * Favoritos
 * ---------------------------------------------- */

.chart {
  width: 100%;
  image-rendering: auto;
  transition: transform 0.3s ease;
}

.grid {
  display: flex;
  grid-gap: 16px;
  justify-content: left;
  text-align: center;
  margin: 0 0 24px 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* scrollbar-color: var(--clr-gray-a30) transparent; */
  padding: 10px 5px 10px 5px;
}

.grid {
  scrollbar-width: thin;
}

.grid img {
  image-rendering: pixelated;
  outline: 1px solid var(--clr-gray-a20);
  transition: box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

body.rounded .grid img {
  border-radius: 3px;
}

.grid img:hover {
  /* box-shadow: 0 0px 12px rgba(255, 255, 255, 0.25); */
  box-shadow: 0 0 0 3px var(--clr-main-a30);
}

/* .grid img.tenho {
	border: 2px solid var(--clr-main-a40);
	box-shadow: 0px 0px 8px var(--clr-main-a40);
} */

/* .grid.albuns {
	grid-template-columns: repeat(auto-fit, 154px);
} */

.grid.albuns img {
  width: 154px;
  height: 154px;
}

/* .grid.filmes {
	grid-template-columns: repeat(auto-fit, 120px);
} */

.grid.filmes img {
  width: auto;
  height: 180px;
}

.grid .placeholder {
  background: var(--clr-black-a10);
  outline: 1px solid var(--clr-gray-a0);
  display: block;
}

body.rounded .grid .placeholder {
  border-radius: 3px;
}

/* .grid.jogos {
	grid-template-columns: repeat(auto-fit, 120px);
} */

.grid.jogos img {
  width: 120px;
  height: 160px;
}

/* .chart:hover {
    transform: scale(1.3);
} */

.midias-secao {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.midias-secao div.favoritos h2 {
  --clr-texto: var(--clr-gray-a50);

  color: var(--clr-white);
  border-bottom: 1px solid var(--clr-gray-a40);
  font-family: var(--fonte-corpo);
  font-size: 1em;
  padding-bottom: 0.35em;
  text-transform: uppercase;
  margin: 0;
}

div.midias-secao div.favoritos p {
  margin: 0;
  font-size: 0.9em;
}

div.midias-secao div.favoritos p a {
  text-decoration: none;
}

.favoritos {
  padding: 16px;
  border: 1px solid var(--clr-gray-a0);
}
