.chart {
  width: 100%;
  image-rendering: auto;
  transition: transform 0.3s ease;
}

.grid {
  display: flex;
  grid-gap: 16px;
  justify-content: left;
  text-align: center;
  margin: 0 0 24px 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px 5px 10px 5px;
}

.grid {
  scrollbar-width: thin;
}

.grid img {
  image-rendering: pixelated;
  outline: 1px solid var(--clr-gray-a20);
  transition: box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

body.rounded .grid img {
  border-radius: 3px;
}

.grid img:hover {
  box-shadow: 0 0 0 3px var(--clr-main-a30);
}

.grid.albuns img {
  width: 154px;
  height: 154px;
}

.grid.filmes img {
  width: auto;
  height: 180px;
}

.grid .placeholder {
  background: var(--clr-black-a10);
  outline: 1px solid var(--clr-gray-a10);
  display: block;
}

body.rounded .grid .placeholder {
  border-radius: 3px;
}

.grid.jogos img {
  width: 120px;
  height: 160px;
}

.midias-secao {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.midias-secao div.favoritos h2 {
  --clr-texto: var(--clr-gray-a50);

  color: var(--clr-white);
  border-bottom: 1px solid var(--clr-gray-a40);
  font-family: var(--fonte-corpo);
  font-size: 1em;
  padding-bottom: 0.35em;
  text-transform: uppercase;
  margin: 0;
}

div.midias-secao div.favoritos p {
  margin: 0;
  font-size: 0.9em;
}

div.midias-secao div.favoritos p a {
  text-decoration: none;
}

.favoritos {
  padding: 16px;
  border: 1px solid var(--clr-gray-a10);
}

.colecoes {
  counter-reset: rowNumber;
}

.colecoes tbody tr {
  counter-increment: rowNumber;
}

.colecoes tbody tr td:first-child::before {
  content: counter(rowNumber, decimal-leading-zero);
}
details#web {
  overflow: visible;
}

.web-flex {
  gap: 24px;
  align-items: flex-start;
  flex-wrap: wrap;
  /* width: 100%; */

  margin-left: auto;
  margin-right: auto;
}

.selos {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 99px);
  grid-gap: 6px;
  justify-content: center;
  margin: 24px 0;
  padding: 20px 10px;

  background: #fef8e0;
  background: radial-gradient(
    circle,
    rgba(254, 248, 194, 1) 0%,
    rgba(255, 248, 246, 1) 50%,
    rgba(247, 242, 205, 1) 100%
  );
  border: 1px dashed #000;

  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 0;
  border-radius: 0 var(--b-radius) var(--b-radius) 0;
}

.selos:hover {
  transform: rotate(-1deg) scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.selos img {
  width: 99px;
  height: 56px;
  image-rendering: auto;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 0;
}

.selos img:hover {
  transform: scale(1.4) rotate(3deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.blinkies {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: 6px;
  justify-content: center;
  text-align: center;
  margin: 24px 0;

  background: linear-gradient(180deg, rgba(70, 88, 80, 1) 0%, rgba(30, 27, 33, 1) 80%);
  padding: 20px;
  border: 1px dashed #000;

  backface-visibility: hidden;
  overflow: visible;

  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 0;
  border-radius: var(--b-radius);
}

/* .blinkies:hover {
  transform: rotateY(10deg) rotateX(5deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} */

.blinkies img {
  width: 150px;
  height: 20px;
  transform-style: inherit;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 0;
}

.blinkies img:hover {
  transform: rotateY(-8deg) rotateX(25deg) scale(1.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.colecoes {
  width: 100%;
  /* background-color: red; */
  overflow: visible;
}

.colecoes img {
  transition: all 0.3s ease;
  z-index: 0;
  border-radius: var(--b-radius);
}

.colecoes.filmes img {
  width: 120px;
  height: auto;
}

.colecoes .favs img:hover {
  /* filter: grayscale() brightness(0.8); */
  transform: scale(1.2) rotate(2deg);
  z-index: 10;
}

.colecao-details {
  padding: 0;
  border: 1px solid var(--clr-gray-a10);
  height: 420px;
  overflow: hidden;
}

div.midias-secao div.colecoes div.sub.colecao-details div.scroll {
  max-height: 373px;
}

.colecoes .sub {
  margin-top: 10px;
  border: 1px solid var(--clr-gray-a10);
  border-radius: var(--b-radius) var(--b-radius) 0 0;
}

.colecoes .sub h2 {
  padding: 0px 10px 0 10px;
}
