name: Deploy to Neocities

on:
  push:
    branches: ["main"]
#  release:
#    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Neocities CLI
        run: |
          gem install --user-install neocities
          echo "$HOME/.local/share/gem/ruby/3.2.0/bin" >> $GITHUB_PATH

      - name: Deploy to Neocities
        env:
          NEOCITIES_API_KEY: ${{ secrets.NEOCITIES_API_KEY }}
        run: |
          neocities push .
